@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Montserrat:wght@200;300;800&family=Roboto:wght@300;400&family=Sofia&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F66000;
}

h1 {
  width: 30vw;
  height: 10vh;
  font-size: 95px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin-top: 7vh;
  margin-left: 6vw;
}

.logo {
  height: 13vh;
  width: 10vw;
  margin-left: 25vw;
}

h2 {
  width: 50vw;
  height: 8vh;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  margin-top: 8vh;
  margin-left: 8.7vw;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 45vw;
  height: 46vh;
  position: relative;
  left: 7vw;
}

.card {
  width: 10vw;
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36vh;
}

.car {
  width: 20vw;
  height: 60vh;
  position: relative;
  left: 60vw;
  bottom: 55vh;
  border-radius: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #F7E0CE;
}

.secondCar {
  width: 15vw;
  height: 35vh;
  background-color: #D3C5BB;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  width: 12vw;
  height: 7vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  font-size: 19px;
}

.btn {
  width: 12vw;
  height: 7vh;
  border-radius: 6rem;
  background-color: #D3C5BB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.50rem;
}

